
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{margin:0;
font-family:"Roboto",sans-serif;scroll-behavior:smooth;}
.header{background-color:#434242;}
.container{
margin:auto;
max-width:275vh;}
.header-container{
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    }
.link{
color:#f8f6ee;
font-size:6vh;
text-decoration:none;
margin-right:5vh;
}
body{
background-color:#f8f6ee}
.container-main{
display:flex;
justify-content:space-between;}
.main-text{
margin-top:37vh;
}
.main-img{
margin-top:12vh;
height:60vh;}
.title{
color:#222222;
font-size:17vh;
font-family:"Russo One",sans-serif;}
.subtitile{
color:#434242;
font-size:8vh;}
.subtitile b{
color:#22a39f;
}
.cards{
display:flex;
justify-content:space-evenly;
margin-top:12vh;
}
.card{
border:1px solid #222222;
border-radius:5vh;
padding:5vh 7vh;
width:150vh;
height:70vh;
text-align:center;
}
.card p{
font-size:6vh;
margin-top:5vh;
}
.card img{
transition-duration:0.2s;
}
.card img:hover{
transform: scale(1.1, 1.1);
}
.navigation a:hover{
color:#111199;
}
.container-contacs{
height:162vh;
margin-left:33vh;
}
.container-contacs h1{
margin-top:25vh;
margin-bottom:12vh;}
.links{
margin-top:12vh;
width:125vh;
display:flex;
justify-content:space-between;
}
.container-contacs img{
height:25vh;
width:25vh;
}
.footer{
background-color:#434242;
display:flex;
justify-content:center;
align-items:center;
color:#f8f6ee;
height:25vh;
font-size:6vh;
}


