body{
font-family:"roboto";
background-color:#f0f0f0;
color:#333;
line-weight:1.6;}
.blog{
margin:auto;
max-weight:800px;}
h1{font-size:50px;
color:#2196F3;
font-weight:300;
text-align:center;}
.card{padding:20px;
margin-bottom:30px;
background-color:#fff;
box-shadow:0 2px 5px rgba(0,0,0,0.1)
border:none;
border-radius:10px;
}
a{
   text-decoration: none;
   color: #2196F3;
}
