<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет мир!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 class = "title">Привет мир</h1>
    <h3>меня зовут Марсэль</h3>
    <h3 class = "title">это мой первый сайт</h3>
    <p>это веб страница</p>
    <a href="https://drive.google.com/file/d/1nJpkIipxSo1lLX7Q56LIEvtMn1iKnaRo/view?usp=drive_link">эта картинка</a>
    <br>
    <img src="static/picture.jpg" width="1000">
</body>
</html>